html
    head
        title.
            Create New User
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    body
        div(class="container")
            h1.
                Create a new user account.
            form
                input(type="text", class="form-control", placeholder="Username")
                input(type="password", class="form-control", placeholder="Password")
                input(type="password", class="form-control", placeholder="Confirm Password")
                input(type="submit", class="btn btn-primary btn-block", value="Create")